[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
alembic = "*"
asyncpg = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
pydantic-settings = "*"
greenlet = "*"
confluent-kafka = "*"
pre-commit = "*"
redis = "*"
celery = "*"
flower = "*"
redisbeat = "*"
jsonpickle = "*"
fastapi-mail = "*"
aiosmtplib = "*"
email-validator = "*"
loguru = "*"
pyjwt = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
